.h1 {
     color: red;
 }

.mat-slider-horizontal {
    width: 100%;
}

.open-close-container {
    border: 1px solid #F4A460;
    background: #ffffff;
    margin: 1.5em 0em;
    padding: 0px 0px 15px 0px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0.5em;
    box-shadow: 0px 0px 8px 2px #F4A460;
}

*{
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Nova Mono', monospace;
}

td, span {
    font-family: 'Ubuntu', sans-serif;
}

