<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nova+Mono|Roboto+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container-fluid">
    <div class="row no-gutters open-close-container col-sm-8 col-md-6 col-lg-4 mx-auto">
        <div class="d-flex-column" style="width:100%;">
            <div>
                <p style="font-weight:normal;font-family: 'Ubuntu', sans-serif;" class="text-center">{{selectedMatch.localDate}} &nbsp; {{selectedMatch.localTime}}</p>
            </div>

            <div class="d-flex justify-content-around">
                <img class="img-fluid rounded" [src]="'assets/images/' + selectedMatch.team1.teamName + '.jpg'" style="max-height: 80px;border-radius:15px;box-shadow:0px 0px 5px 1px #dddddd;">
                <p style="font-weight:normal;font-family: 'Ubuntu', sans-serif;" class="align-self-center">vs</p>
                <img class="img-fluid rounded" [src]="'assets/images/' + selectedMatch.team2.teamName + '.jpg'" style="max-height: 80px;border-radius:15px;box-shadow:0px 0px 5px 1px #dddddd;">
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
  <div class="d-flex col-sm-8 col-md-6 col-lg-4 mx-auto">
    <div class="d-flex-column" style="width:100%;">
      <div>
        <h4  class="text-center">Predictions</h4>
      </div>
      <br>

      <div class="d-flex-column justify-content-around">
        <div class="d-flex" style="width:100%;">
          <div class="align-self-start" style="width:40%;font-size:1.4em;font-weight:normal;font-family: 'Ubuntu', sans-serif;">
            Winner
          </div>
          <div class="d-flex justify-content-end" style="width:60%;">
              <div class="btn-group btn-group-toggle" data-toggle="buttons" style="width:90%;">
                  <label class="btn btn-outline-success btn-sm active" >
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> {{selectedMatch.team1.teamName}}
                  </label>
                  <label class="btn btn-outline-success btn-sm"  >
                    <input type="radio" name="options" id="option2" autocomplete="off"> {{selectedMatch.team2.teamName}}
                  </label>
                  
              </div>
          </div>

        </div>

        <br>

        <div class="d-flex" style="width:100%;">
            <div class="d-flex justify-content-start align-items-center" style="width:40%;font-size:1.4em;font-weight:normal;font-family: 'Ubuntu', sans-serif;">
              Margin
              <i class="material-icons">
                  info
                  </i> 
            </div>
            <div class="d-flex justify-content-end" style="width:60%;padding:1%;">
                <div class="btn-group btn-group-toggle" data-toggle="buttons" style="width:90%;">
                    <label class="btn btn-outline-dark btn-sm" style="font-size:0.7em;" >
                      <input type="radio" name="optionsM" id="option1M" autocomplete="off" checked> Easy
                    </label>
                    <label class="btn btn-outline-dark btn-sm" style="font-size:0.7em;" >
                      <input type="radio" name="optionsM" id="option2M" autocomplete="off"> Medium
                    </label>
                    <label class="btn btn-outline-dark btn-sm active" style="font-size:0.7em;">
                        <input type="radio" name="optionsM" id="option3M" autocomplete="off"> Hard
                      </label>
                    
                </div>
            </div>

          </div>

          <br>

          <div class="d-flex" style="width:100%;">
            <div class="d-flex align-items-center" style="width:40%;font-size:1.4em;font-weight:normal;font-family: 'Ubuntu', sans-serif;">
              Coins
            </div>
            <div class="d-flex justify-content-end" style="width:60%;">
              <mat-slider 
                  thumbLabel
                  tickInterval="100"
                  min="0"
                  max="10000"
                  step="100"
                  (change)='changeSlide($event)'
                  value="3000"
                  [displayWith]="formatLabel"
                  >
              </mat-slider>
            </div>
          </div>

          <br>

          <div class="d-flex" style="width:100%;">
            <div class="d-flex justify-content-start align-items-center" style="width:40%;font-size:1.4em;font-weight:normal;font-family: 'Ubuntu', sans-serif;">
              Target
            </div>
            <div class="d-flex justify-content-end" style="width:60%;padding:1%;">
              <mat-form-field>
                <mat-select>
                  <mat-option *ngFor="let player of players" [value]="player">
                    {{player}}
                  </mat-option>
                  
                </mat-select>
              </mat-form-field>
            </div>
          </div>    
          
              <br>

            <div class="d-flex justify-content-center align-items-center">
                <input class="btn btn-primary btn-block" type="button" value="Submit">
            </div>

      </div>
      <br>
      <hr>
      
      <div>
        <h4  class="text-center">Group's Predictions</h4>
      </div>
      <hr>
      <div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width:100%;"> 

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="player">
              <th mat-header-cell *matHeaderCellDef> Player </th>
              <td mat-cell *matCellDef="let element"> {{element.player}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="prediction">
              <th mat-header-cell *matHeaderCellDef> Prediction </th>
              <td mat-cell *matCellDef="let element"> {{element.prediction}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="challenged">
              <th mat-header-cell *matHeaderCellDef> Target </th>
              <td mat-cell *matCellDef="let element"> {{element.challenged}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="coins">
              <th mat-header-cell *matHeaderCellDef> Coins </th>
              <td mat-cell *matCellDef="let element"> <span style="background:lightcoral;">{{element.coins}} </span></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>

    </div>
  </div>
</div>  
