.open-close-list-past {
    border: 1px solid #cb3d12;
    background: #ffffff;
    margin: 1.5em 0em;
    padding: 0px 0px 0px 0px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0.5em;
    box-shadow: 0px 0px 8px 2px #cb3d12;
  }

  .open-close-list-current {
    border: 1px solid #e0dd12;
    background: #ffffff;
    margin: 1.5em 0em;
    padding: 0px 0px 0px 0px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0.5em;
    box-shadow: 0px 0px 8px 2px #e0dd12;
  }

  .open-close-list-future {
    border: 1px solid #729d39;
    background: #ffffff;
    margin: 1.5em 0em;
    padding: 0px 0px 0px 0px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0.5em;
    box-shadow: 0px 0px 8px 2px #729d39;
  }