<div class="container-fluid" *ngFor="let match of allMatches">
  <a role="button" (click)="onMatchClick(match.matchId)" style="cursor: pointer">
    <div class="d-flex col-sm-8 col-md-6 col-lg-4  mx-auto open-close-list-past">
      <!--
        border-left:15px solid #cb3d12;
      -->
      <div class="d-flex justify-content-center align-items-center" style="font-size: 0.8em;border-radius:0.5em 0 0 0.5em;width:30%;" >
        {{match.localDate}}<br>{{match.localTime}}

      </div>
      
      <div style="width:20%;" class="d-flex justify-content-center align-items-center">
          <img class="img-fluid rounded" [src]="'assets/images/' + match.team1.teamName + '.jpg'" style="max-height: 50px;border-radius:0px;box-shadow:0px 0px 5px 1px #dddddd;">
      </div>

      <div style="width:10%;" class="d-flex justify-content-center align-items-center">
        {{match.team1.teamName}}
      </div>

      <div class="d-flex justify-content-center align-items-center" style="width:10%;font-size:0.8em;">vs</div>

      <div style="width:10%;" class="d-flex justify-content-center align-items-center">
          {{match.team2.teamName}}
      </div>
      
      <div style="width:20%;" class="d-flex justify-content-end align-items-center">
          <img class="img-fluid rounded" [src]="'assets/images/' + match.team2.teamName + '.jpg'" style="max-height: 50px;border-radius:0px;box-shadow:0px 0px 5px 1px #dddddd;">
      </div>
    </div>
  </a>
</div>