 <!-- 1st Match -->
 <div class="container-fluid" *ngFor="let match of currentMatches; let i = index">
     <a role="button" (click)="onMatchClick(match.matchId)" style="cursor: pointer">
       <div class="row no-gutters open-close-container col-sm-8 col-md-6 col-lg-4 mx-auto">
        <div class="d-flex-column" style="width:100%;">
          <div>
            <p style="font-weight:normal;font-family: 'Ubuntu', sans-serif;" class="text-center">{{match.localDate}}<br>{{match.localTime}}</p>
          </div>

          <div class="d-flex justify-content-around">
            <img class="img-fluid rounded" [src]="'assets/images/' + match.team1.teamName + '.jpg'" style="max-height: 111px;border-radius:15px;box-shadow:0px 0px 5px 1px #dddddd;">
            <p style="font-weight:normal;font-family: 'Ubuntu', sans-serif;" class="align-self-center">vs</p>
            <img class="img-fluid rounded" [src]="'assets/images/' + match.team2.teamName + '.jpg'" style="max-height: 111px;border-radius:15px;box-shadow:0px 0px 5px 1px #dddddd;">
          </div>
        </div>
       </div>
     </a>
</div>