<div class="container-fluid sticky-top" style="padding:0px;">
  <div class="d-flex justify-content-end">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        JNTU
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">JNTU</a>
        <a class="dropdown-item" href="#">Family</a>
        <a class="dropdown-item" href="#">Office</a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="table-responsive-sm">
  <table class="table table-bordered table-success">
    <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Player</th>
      <th scope="col">Score</th>
      <th scope="col">Coins</th>
      <th scope="col">Loan</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let score of scores">
      <td>{{score.rankNumber}}</td>
      <td>{{score.user.firstName}}</td>
      <td>{{score.effectiveCoins}}</td>
      <td>{{score.totalCoins}}</td>
      <td>{{score.totalLoan}}</td>
    </tr>
    </tbody>
  </table>
</div>